*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}
body{
    background: linear-gradient(ghostwhite,snow);
    background-repeat: no-repeat;

}
.main-box{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
}

.image-box{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.image-box img{
    width: 500px;
}

.login-box{
    display: flex;
    align-items: center;
    /* text-align: center; */
    justify-content: flex-start;
}
form{
    width: 450px;
}

.logo{
    height: 100px;
}

.heading{
    font-size: 2.9rem;
    text-transform: capitalize;
    text-align: center;
    margin: 15px 0;
    background-image: linear-gradient(black,black);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

form h1:hover{
    background-position: 200%;
}

h3{
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
    margin: 20px 0;
    justify-content: center;
    color: #553c9a;
    background-clip: text;
    -webkit-background-clip: text;
}

.login-input{
    justify-content: flex-start;
    align-self: flex-start;
   /* // margin-right: 5px; */
}

.login-label{
    justify-content: flex-start;
    background-image: linear-gradient(#151516, #434242);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: bold;
    display: block;
    font-size: large;
    margin-bottom: 5px;
}

.form-input{
    margin: 8px 0;
    padding: 12px 20px;
    width: 100%;
    display: inline-block;
    border: 2px solid silver;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 10px;
}

p{
    color: red;
}

.submit-btn{
    padding: 12px 32px;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
    line-height: 1.25;
    background-image: linear-gradient(rgb(16, 220, 44),rgb(15, 97, 6));
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    border: none;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 37%;
}

.submit-btn:hover{
    cursor: pointer;
    color: black;
    background-image: linear-gradient(gainsboro,ghostwhite);
}

.login-box button :hover{
    background-image: linear-gradient(slategray,seashell) !important;
}

.form-input-login{
    margin-left: 25px;
    font-size: medium;
    font-weight: bold;
    text-shadow: 0px 4px 10px rgba(176, 175, 178, 0.8)
}
.validation-msg{
    font-size: small;
    color: red;
    float: left;
}
