table {
    border-collapse: collapse;
   
    
  }
  tr { 
    border: solid;
    border-width: 1px 0;
  }
  table.a {
      table-layout: auto;
      width: 180px;  
    }
    table.b {
      table-layout: fixed;
      width: 180px;  
    }
    
    table.c {
      table-layout: auto;
      width: 100%;  
    }
    
    table.d {
      table-layout: fixed;
      width: 100%;  
    }